server:
  port: 8080
  servlet:
    context-path: /api
spring:
  data:
    mongodb:
      uri: mongodb://61.14.234.12:27017/admin_db
app:
  jwt:
    secret: "12345678901234567890123456789012"
    expiration-ms: 86400000
